.destination {
  margin-bottom: 9.7rem;
}

.destination__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.destination__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 54.5rem;
}

.destination__pre-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-red);
  margin-bottom: 2.4rem;
}

.destination__title {
  font-family: 'Volkhov', serif;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 1.2;
}

.destination__title span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: var(--text-primary)
}

.brush-underline {
  position: relative;
  display: inline-block;
  white-space: nowwrap;
}

.brush-underline::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: -3rem;
  width: 200%;
  height: 1.2rem;
  background-image: url('/assets/images/decore.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.destination__text {
  max-width: 47.7rem;
  font-family: 'Poppins', serif;
  color: var(--text-gray);
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  margin-bottom: 3.4rem;
}

.destination__buttons {
  display: flex;
  flex-direction: center;
  align-items: center;
  column-gap: 4.4rem;
}

.destination__button {
  background-color: orange;
  padding: 1.8rem 2.6rem;
  border-radius: 1rem;
  color: var(--text-white);
  font-family: 'Google Sans', serif;
  cursor: pointer;
}

.destination__play-block {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.circle {
  background-color: var(--color-red);
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  font-size: 1.5rem;
  cursor: pointer;
}

.destination__play-block p {
  font-family: 'Poppins', serif;
  font-size: 1.7rem;
  font-weight: 400;
}

.destination__image-block {
  max-width: 76.5rem;
}

.destination__image-block img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}