.destination {}

.destination__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.destination__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.destination__text-block span {
  font-family: 'Poppins', serif;
  color: var(--color-red);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.destination__title {
  font-family: 'Volkhov', serif;
  color: var(--text-primary);
  font-weight: bold;
  font-size: 8rem;
  line-height: 7.8rem;
  letter-spacing: -0.1rem;
  text-align: left;
  word-spacing: -1rem;
  margin-bottom: 3rem;
}

.destination__text-block .brush-underline {
  position: relative;
  display: inline-block;
}

.destination__text-block .brush-underline::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 1.5rem;
  background-image: url('/assets/images/decore.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.destination__text {
  max-width: 47.7rem;
  font-family: 'Poppins', serif;
  color: var(--text-gray);
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  margin-bottom: 3.4rem;
}

.destination__buttons {
  display: flex;
  flex-direction: center;
  align-items: center;
  column-gap: 4.4rem;
}

.destination__button {
  background-color: orange;
  padding: 1.8rem 2.6rem;
  border-radius: 1rem;
  color: var(--text-white);
  font-family: 'Google Sans', serif;
  cursor: pointer;
}

.destination__play-block {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.circle {
  background-color: var(--color-red);
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  font-size: 1.5rem;
  cursor: pointer;
}

.destination__play-block p {
  font-family: 'Poppins', serif;
  font-size: 1.7rem;
  font-weight: 400;
}

.destination__image-block {
  height: 76.4rem;
  width: 78.4em;
}

.destination__image-block img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}