/* Сначала большие экраны, потом меньшие */
@media (min-width: 1400px) {
  .category__list {
    grid-template-columns: repeat(4, minmax(26.7rem, 1fr));
  }
}

@media (max-width: 1332px) {
  .destination__blocks {
    flex-direction: column;
    margin-top: 3rem;
  }
}

@media (max-width: 1285px) {
  .nav__items-links {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 30rem;
    background-color: var(--text-gray);
    padding: 2rem 1.6rem;
    z-index: 11;
    opacity: 0;
    height: 100vh;
  }

  .nav__items .nav__burger {
    display: flex;
  }
}

@media (max-width: 1024px) {

  .category__list {
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    gap: 2.5rem;
    padding: 0 2rem;
  }

  .category__card {
    padding: 3rem;
  }
}

@media (max-width: 916px) {
  body .container {
    padding: 0 2rem 0 2rem;
  }

  .nav__items .nav__burger {
    padding-right: 4rem;
  }

  .nav__items-settings {
    display: none;
    opacity: 0;
  }

  .destination__image-block {
    display: none;
    opacity: 0;
  }

  .destination__text-block {
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 900px) and (orientation: portrait) {
  .category__list {
    grid-template-columns: 1fr;
    max-width: 50rem;
  }
}

@media (max-width: 767px) {

  .category__title {
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }

  .category__list {
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 2rem;
  }

  .testimonials__message-block {
    margin: 0 4rem 0 4rem;
  }

  .testimonials__message-block .testimonials__arrow-toggle {
    width: 100%;
    flex-direction: row;
    margin-top: 3rem;
  }

  .testimonials__arrow-toggle img:first-child {
    transform: rotate(-90deg);
  }

  body .testimonials__arrow-toggle img:last-child {
    transform: rotate(90deg);
  }
}

@media (max-width: 603px) {
  .destination__text-block .destination__title {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {

  .destination__text-block .destination__text {
    font-size: 1.2rem;
    text-align: center;
    text-wrap: wrap;
  }

  .category__list {
    gap: 1.5rem;
  }

  .category__card {
    row-gap: 1.5rem;
  }
}