@media (max-width: 1285px) {
  .nav__items-links {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 30rem;
    background-color: var(--text-gray);
    padding: 2rem 1.6rem;
    z-index: 11;
    opacity: 0;
    height: 100vh;
  }

  .nav__items .nav__burger {
    display: flex;
  }
}

@media (max-width: 916px) {
  body .container {
    padding: 0 2rem 0 2rem;
  }

  .nav__items .nav__burger {
    padding-right: 4rem;
  }

  .nav__items-settings {
    display: none;
    opacity: 0;
  }
}